{% if UID_MIN is defined %}
  -a always,exit -F path=/usr/bin/chcon -F perm=x -F auid>={{ UID_MIN.stdout }} -F auid!=unset -k perm_chng
  -a always,exit -F path=/usr/bin/chacl -F perm=x -F auid>={{ UID_MIN.stdout }} -F auid!=unset -k perm_chng
{% else %}
  ERROR: Variable 'UID_MIN' is unset.
{% endif %}


