{% if UID_MIN is defined %}
-a always,exit -F arch=b32 -S mount -F auid>=1000 -F auid!=unset -k mounts
-a always,exit -F arch=b64 -S mount -F auid>=1000 -F auid!=unset -k mounts
{% else %}
ERROR: Variable 'UID_MIN' is unset.
{% endif %}
