{% if SUDO_LOG_FILE_ESCAPED is defined and SUDO_LOG_FILE_ESCAPED != '' %}
  -w {{ SUDO_LOG_FILE.stdout }} -p wa -k sudo_log_file
{% else %}
  ERROR: Variable 'SUDO_LOG_FILE_ESCAPED' is unset.
{% endif %}
